/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  --font-bold: 700;
}

/*===== Colores =====*/
:root {
  --first-color: #E55947;
  --first-color-alt: #D2321E;
  --white-color: #FAFAFF;
  --dark-color: #101010;
  --dark-color-light: #606060;
  --gray-color: #F0F1F3;
  --shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .75rem;
}

@media screen and (min-width: 1024px) {
  :root {
    --big-font-size: 6rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
  }
}

/*===== Margenes =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}

/*===== z index =====*/
:root {
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-med: 50;
}

/*===== background pattern =====*/
:root {
  --background-image: url("../img/pan_african_pattern.png");
}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--dark-color);
  line-height: 1.6;
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  max-width: 100%;
  height: auto;
}

/*===== CLASS CSS ===== */
.section {
  padding: 3rem 0;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--dark-color);
  margin: var(--mb-4) 0 var(--mb-1);
  text-align: center;
}

.section-all {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi);
  color: var(--dark-color-light);
  text-align: center;
  margin-bottom: var(--mb-2);
}

.bg__pattern {
  position: absolute;
  background: url("../img/background__pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  padding-bottom: 400px;
  z-index: var(--z-tooltip);
}

.pattern {
  position: absolute;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  padding-bottom: 400px;
  z-index: var(--z-tooltip);
}

.collection__pattern {
  top: 0;
  left: -10px;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

/*===== NAV =====*/
.l-header {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: var(--z-fixed);
      background-color: var(--gray-color);
    }
    
    .nav {
      height: var(--header-height);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    @media screen and (max-width: 768px) {
      .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--white-color);
        transition: .5s;
      }  
    }
    
    .nav__item {
      margin-bottom: var(--mb-4);
    }
    
    .nav__link {
      color: var(--dark-color);
      font-weight: var(--font-semi);
    }
    
    .nav__link:hover {
      color: var(--first-color);
    } 
    
    .nav__logo {
      font-weight: var(--font-bold);
    }

    .nav__cart-link {
      position: relative;
    }
    
    .nav__cart {
      font-size: 1.5rem;
      margin-right: var(--mb-2);
    }

    .cart__num {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: .75rem;
      font-weight: 400;
      top: -12px;
      right: 5px;
      width: 20px;
      height: 20px;
      background-color: var(--first-color-alt);
      color: var(--white-color);
      border-radius: 50%;
    }
    
    .nav__toggle {
      font-size: 1.5rem;
      cursor: pointer;
    }
    
    /*=== Show menu ===*/
    .show {
      right: 0;
    }
    
    .active {
      color: var(--first-color);
    }
    

    /* ===== MEDIA QUERIES=====*/
    @media screen and (min-width: 768px){
      body {
        margin: 0;
      }  
    
      .section-all {
        margin-bottom: var(--mb-4);
      }
    
      .nav {
        height: calc(var(--header-height) + 1rem);
        align-items: center;
        justify-content: initial;
      }
    
      .nav__menu {
        margin-left: auto;
      }
    
      .nav__list {
        display: flex;
        margin-right: var(--mb-4);
      }
    
      .nav__item {
        margin-left: var(--mb-4);
        margin-bottom: 0;
      }
    
      .nav__toggle {
        display: none;
      }
    }

    @media screen and (min-width: 380px) {
      .bd-grid {
        margin-left: auto;
        margin-right: auto;
      }
    
      .home__data {
        padding-left: 7rem;
      }
    
      .home__img {
        right: 15%;
      }
    }